body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dd {
    margin-bottom: 28px;
}
.card{
   background: #f1f1f1;
   margin: 5px;
   padding: 10px;
   width: 30%;
}
div .col-md-2,
div .col-md-9,
div .col-md-6,
div .col-md-4
{
   padding: 27px;
   margin: 0px;
}
.container {
  max-width: 750px;
  padding: 15px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.prevImg
{
border: 1px solid #ddd;
}
.imageFileInput
{
padding: 20px;
background-color: #84b7b7;
}
.imageCarouselImg img {
    height: 240px!important;
    width: 320px;
}
#drop_zone {
    border: 2px dashed #84b7b7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    padding: 25px;
    color: #84b7b7;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
#listImages {
width:100%;
}