@model BookingHotels.Web.Models.BookingViewModel
@{
    ViewBag.Title = "Book Confirmed";
    <h2>@ViewBag.Title</h2>
    string hotelName = ViewBag.hotelName;
}
<div>
    @Html.AntiForgeryToken()
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingStartDate)
            )
        </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm("Index", "Room"))
    {
        <button class="btn btn-success">Back</button>
    }
</p>



