@{
    ViewBag.Title = "Get image from web api";
    var img = ViewBag.img;
}

<h2>Response from Web Api:</h2>
@ViewBag.response
<h2>Response Content from Web Api:</h2>
@ViewBag.responseContent
<h2>Response Content to Image:</h2>

<img src="@img" width="150" height="150" />
@*
    <img src='@Url.Action("GetImageSrc2", "Room", new { filePath = ViewBag.responseContent });
*@

