@model IEnumerable<BookingHotels.Web.Models.RoomViewModel>
@{
    ViewBag.Title = "Rooms";

}
@* Content *@
<div class="col-sm-9">
    <h2>@ViewBag.Title</h2>
    <h1>The name: <span data-bind="text: personName"></span></h1>
    @foreach (var item in Model)
    {
        @Html.DisplayFor(m => item, "RoomTemplate")
    }
</div>

@* Sidebar *@
<div class="col-sm-3 text-center">
    <h2>Filters</h2>
    <div class="row">
        <div class="col-sm-5">
            Start Date
        </div>
        <div class="col-sm-7">
            <input type = "date" class="input-sm, datefield, form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            End Date
        </div>
        <div class="col-sm-7">
            <input type="date" class="input-sm, datefield, form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Max room price
        </div>
        <div class="col-sm-7">
            <input class="input-sm" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Hotel
        </div>
        <div class="col-sm-7">
            <input class="input-sm" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Room type
        </div>
        <div class="col-sm-7">
            <input class="input-sm" />
        </div>
    </div>

    <hr/>
    <button class="btn-primary">Apply</button>
</div>

@section scripts{
    <script src="~/Models/KnockoutRoomViewModel.js"></script>
}