@model IEnumerable<BookingHotels.Web.Models.RoomViewModel>
@{
ViewBag.Title = "Rooms";
}
@* Content *@
<div class="col-sm-8">
    <h2>@ViewBag.Title</h2>
    <h3> We have
        <span data-bind="text: koRooms().length"></span>
        rooms:
    </h3>
    <hr/>
    @* Knockout template: *@
    <div data-bind="template: { name: 'koRoomDisplayTemplate', foreach: koRoomsFiltered }"></div>

    <script type="text/html" id="koRoomDisplayTemplate">
        <div class="card col-md-3 text-center">
            <img class="card-img-top" src="/Content/Images/room.png" width="100" height="100">
            <h4 class="card-title">
                <span data-bind="text: RoomType"></span>
            </h4>
            <p class="card-text">
                This room is in
                <a href="#" data-bind="click: $parent.hotelDetails">
                    <span data-bind="text: Hotel.HotelName"></span>
                </a>
            </p>
            <a href="#" data-bind="click: $parent.details">
                <span class="btn btn-primary" data-bind="text: $parent.bookThisRoom(RoomPrice)"></span>
            </a>
        </div>
    </script>
</div>

@* Sidebar *@
<div class="col-sm-4 text-center">
     <h2>Filters</h2>
     <div class="row">
         <div class="col-sm-5">
             Max room price
           </div>
         <div class="col-sm-7">
             <input 
             type="number"
             class="form-control" 
            data-bind="textInput: maxRomPrice">
         </div>$
     </div>
     <br/>
     <div class="row">
         <div class="col-sm-5">
             Room type
         </div>
         <div class="col-sm-7">
             <select 
                 class="selectpicker"
                 data-selected-text-format="count > 3"
                 multiple
                 data-bind="selectedOptions: selectedRoomTypes, options: koRoomTypes">
             </select>
         </div>
     </div>
     <hr />
 </div>

<script type="text/javascript">
    // Using Json.NET to JSON encode server-side Model directly in view
    var JsonRooms = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(
    Newtonsoft.Json.JsonConvert.SerializeObject(
    Model,
    Newtonsoft.Json.Formatting.None,
    new Newtonsoft.Json.JsonSerializerSettings {
    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore }
    )))");

    var RoomTypes =JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(
    Newtonsoft.Json.JsonConvert.SerializeObject(
    Enum.GetNames(typeof(BookingHotels.Domain.Enums.RoomType))
    )))");
    console.log(RoomTypes);

    @* Knockout View Model *@
    var koRoomViewModel =
    {
        koRooms: ko.observableArray(JsonRooms),
        koRoomTypes: ko.observableArray(RoomTypes),
        selectedRoomTypes: ko.observableArray(RoomTypes),
        maxRomPrice: ko.observable(),
        // Knockout supplies the current model value as the first parameter
        details : function (room) {
            window.location.href = "/room/details/" + room.Id;
        },
        hotelDetails : function (room) {
            window.location.href = "/hotel/details/" + room.HotelId;
        },
        bookThisRoom : function (price) {
            return "Book for " + price + " $";
        }
    };

    koRoomViewModel.koRoomsFiltered = ko.dependentObservable(function () {
        var result = koRoomViewModel.koRooms();
        console.log(koRoomViewModel.maxRomPrice());
        console.log(koRoomViewModel.selectedRoomTypes());
        // Room Price Filter
        if (koRoomViewModel.maxRomPrice()) {
            result = ko.utils.arrayFilter(result, function (room) {
                // Return true (to include room) if it's RoomPrice < maxRomPrice
                return (room.RoomPrice < koRoomViewModel.maxRomPrice());
            });
        }
        // Room Type Filter
        if (koRoomViewModel.selectedRoomTypes().length) {
            result = ko.utils.arrayFilter(result, function (room) {
                // Return true (to include room) if it's RoomType appears in selectedRoomTypes
                return (-1 != ko.utils.arrayIndexOf(koRoomViewModel.selectedRoomTypes(), room.RoomType));
            });
        }
        return result;
    });

    ko.applyBindings(koRoomViewModel);
</script>