@model IEnumerable<BookingHotels.Web.Models.RoomViewModel>
@{
    ViewBag.Title = "Rooms";
}
<br>
<div class="row">
    <div class="col-sm-9">
        <h2>@ViewBag.Title</h2>
        @* Cards *@ 
        <div class="container">


            @foreach (var item in Model)
            {
                @Html.DisplayFor(m => item, "RoomTemplate")
            }
        </div>
    </div>
    <div class="col-sm-3">
        <h2>Filters</h2>
        Start Date
        <input class="input-sm" />
        End Date
        <input class="input-sm" />
        Price
        <input class="input-sm" />
    </div>
</div>
