@model BookingHotels.Web.Models.RoomViewModel
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upload Room Image</h2>
@using (Html.BeginForm("Upload", "RoomImage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //@Html.LabelFor("Room Image", new { @class = "control-label col-md-2" })
    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Room Image", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="RoomImage" name="uploadedFile" />
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


